/* ===================================== 
   Grid Layout
======================================== */

.grid {
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	grid-template-rows: 100px 200px;
	grid-column-gap: 15px;
	grid-row-gap: 15px;
	max-width: 800px;
}

